<!DOCTYPE html>
<head>
		<title>Minesweeper</title>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1><span>Minesweeper</span></h1>
			<h3>AIT Final Project</h3>
	</header>
	<nav>
		<ul>
			<li><a href="/">Game</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<li><a href="/tutorial">Tutorial</a></li>
		</ul>
	</nav>
	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>
