#densMine-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.slider-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* in-direction */
    justify-content: center;/* off-direction */
    margin-bottom: 15px; /* Spacing between rows */
}

.slider-submit {
    display: flex;
    flex-direction: row;
    align-items: center; /* in-direction */
    justify-content: center;/* off-direction */
    margin-right: 15px; /* Spacing between rows */
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}