#densMine-slider-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin-right: 55px;
    margin-left:0px;
}

.slider-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* in-direction */
    justify-content: center;/* off-direction */
    margin-right:45px;
}

.slider-submit {
    display: flex;
    flex-direction: row;
    align-items: center; /* in-direction */
    justify-content: center;/* off-direction */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


input[type='range'] {
    width: 100px;
}